#header {
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px 0 #00000024,
    0 1px 10px 0 #0000001f;

  .header-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    .main-logo {
      width: 128px;
    }

    .MuiList-root {
      display: flex;

      .MuiMenuItem-root {
        padding: 0;

        a {
          display: block;
          padding: 8px 16px;
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
